[tutorial-k-fold-cross-validation](https://www.kaggle.com/code/satishgunjal/tutorial-k-fold-cross-validation)

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold, StratifiedKFold, cross_val_score
from sklearn import linear_model, tree, ensemble

In [4]:
t = pd.read_csv('./data/house-prices-advanced-regression-techniques/train.csv')
t.dropna(axis=0, subset=['SalePrice'], inplace=True)
y = t.SalePrice
t.drop(['SalePrice'], axis=1, inplace=True)
t.drop(['LotFrontage', 'GarageYrBlt', 'MasVnrArea'], axis=1, inplace=True)

numer_cols = [cname for cname in t.columns if t[cname].dtype in ['int64', 'float64']]

x = t[numer_cols].copy()
x.head()

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,1,60,8450,7,5,2003,2003,706,0,150,...,548,0,61,0,0,0,0,0,2,2008
1,2,20,9600,6,8,1976,1976,978,0,284,...,460,298,0,0,0,0,0,0,5,2007
2,3,60,11250,7,5,2001,2002,486,0,434,...,608,0,42,0,0,0,0,0,9,2008
3,4,70,9550,7,5,1915,1970,216,0,540,...,642,0,35,272,0,0,0,0,2,2006
4,5,60,14260,8,5,2000,2000,655,0,490,...,836,192,84,0,0,0,0,0,12,2008

In [5]:
kf = KFold(n_splits=5, shuffle=True, random_state=42)
cnt= 1
for idxr, idxs in kf.split(x,y):
    print(f'fold: {cnt}, train set: {len(idxr)}, test set: {len(idxs)}')
    cnt+=1

fold: 1, train set: 1168, test set: 292
fold: 2, train set: 1168, test set: 292
fold: 3, train set: 1168, test set: 292
fold: 4, train set: 1168, test set: 292
fold: 5, train set: 1168, test set: 292

In [8]:
def rmse(score):
    rmse = np.sqrt(-score)
    print(f'rmse = {'{:.2f}'.format(rmse)}')

In [9]:
score = cross_val_score(linear_model.LinearRegression(), x, y, cv=kf, scoring="neg_mean_squared_error")
print(f'score: {score}')
rmse(score.mean())

score: [-1.39334669e+09 -1.32533433e+09 -3.39493937e+09 -9.31045536e+08
 -7.16620849e+08]
rmse = 39398.70